.card-info {
    width: 100%;
    display: none;
    position: fixed;
    background-color: $pop-up-background;
    z-index: 1000;
    height: 100%;
    top: 0;
    transition: 1s;

    .card-info-item {
        border-radius: 1em;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: relative;
        width: 60%;
        height: 60%;
        display: flex;
        align-items: center;
        background: white;
        padding: 2em;

        .card-info-image {
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .card-info-description {
            .close-info {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 0.5em;
                margin-top: 0.5em;
                font-size: 1.5em;
                cursor: pointer;
                display: flex;
            }

            ul {
                line-height: 2.5em;

                li {
                    list-style-type: disclosure-closed
                }
            }
        }
    }
}