.contact-form {
    padding: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../image/contact_bg.png');


    h1 {
        text-align: center;
        // margin-top: 1em !important;
        color: white;

        &::before {
            margin-left: 48% !important;
        }

        &::after {
            margin-right: 48% !important
        }
    }

    .row {

        .contact-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 15em;
                color: #4E8197;
            }
        }

        .send-mail-form {

            form {
                width: 90%;
                margin: 2em auto;

                .name-col,
                .email-col {
                    width: 100%;
                    height: 6vh;

                    margin-bottom: 1.5em;

                    input {
                        width: 100%;
                        padding: 0.5em;
                        height: 100%;
                        border-radius: 0.5em;
                        outline: none;
                        border: 1px solid #257d9d4f;

                        &:active,
                        &:visited,
                        &:hover,
                        &:focus,
                        &:focus-visible {
                            border: 2px solid #257d9d4f !important;
                        }
                    }

                    input:focus-visible {
                        border: 2px solid #257d9d4f !important;
                    }
                }

                .form-group-two {
                    width: 100%;

                    textarea {
                        width: 100%;
                        border: 1px solid #257d9d4f;
                        height: 10em;
                        border-radius: 0.5em;
                        resize: none;
                        padding: 0.5em 0em 0em 0.5em;
                        outline: none;

                        &:active,
                        &:visited,
                        &:hover,
                        &:focus,
                        &:focus-visible {
                            border: 2px solid #257d9d4f !important;
                            box-shadow: none !important;
                        }
                    }
                }

                button {
                    width: 100%;
                    margin-top: 1.5em;
                    border: 1px solid gray;
                    border-radius: 0.5em;
                    color: gray;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #4E8197;
                    color: white;
                    border: 1px solid transparent;

                    // &:active {
                    //     color: white;
                    //     // background: $content-background
                    // }
                }
            }
        }
    }

}


// font-size: 27em;
// color: #257d9d4f;