@media only screen and (max-width: 768px) {
    .main-section {
        .left-section {
            padding: 2em 0em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .main-section {
        .min-vh-100 {
            min-height: 50vh !important;
        }
    }
}