// .navbar {


.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #4E8197 !important;

    // background-color: $navbar-color;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid gray;

    .navbar-brand {
        color: white;
    }

    .nav-link {
        color: white;
    }

    .nav-link:active {
        color: black !important;
    }

    // a {
    //     color: white !important;

    //     &:active {
    //         color: black !important;
    //     }
    // }

    ul:first-child {
        width: 30%;

        li a {
            // color: white !important;
        }
    }

    ul:last-child {
        width: 70%;
        display: flex;
        justify-content: flex-end;

        li {
            padding: 0em 1.5em;

            a {
                text-decoration: none;
                // color: white !important;
            }
        }
    }
}

// }