@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-family: 'Open Sans',
sans-serif;

$navbar-color:black;

$content-background:#3D3C3A;

$pop-up-background:#3d3c3a96;