@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

ul * {
  list-style: none;
}

ul * li * {
  padding: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #4E8197 !important;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid gray;
}

.navbar a {
  color: white !important;
}

.navbar ul:first-child {
  width: 30%;
}

.navbar ul:first-child li a {
  color: white !important;
}

.navbar ul:last-child {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar ul:last-child li {
  padding: 0em 1.5em;
}

.navbar ul:last-child li a {
  text-decoration: none;
  color: white !important;
}

.main-section .text-center img {
  width: 100%;
}

.main-section .left-section {
  padding-left: 6em;
}

.main-section .left-section p:first-child,
.main-section .left-section #auto-text {
  letter-spacing: 0.2em;
  word-spacing: 0.5em;
  font-size: 1.1em;
}

.main-section .left-section p:nth-child(2) {
  font-size: 200%;
  font-weight: bolder;
}

.main-section .left-section .more {
  width: 8em;
  color: white;
  padding: 0.3em 0.5em;
  border: 1px solid white;
  border-radius: 0.2em;
  text-align: center;
  margin-top: 0.8em;
  background: #4E8197;
}

.main-section .left-section .more a {
  color: white;
}

.main-section .left-section .more:hover, .main-section .left-section .more:active {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #63b8ee00), to(#8f969b));
  background: linear-gradient(90deg, #63b8ee00 5%, #8f969b 100%);
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0em 0em 0em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #c6d6de;
}

.about-me .carousel-dark {
  width: 100%;
  padding-bottom: 1em;
  height: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me .second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .second-section #about-tab {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.about-me .second-section #about-tab h1 {
  margin-bottom: 1.1em;
}

.about-me .second-section #about-tab p {
  margin: 0em 2em;
  line-height: 2em;
  margin-bottom: 1em;
}

.about-me .second-section #skill-tab {
  width: 100%;
  text-align: center;
}

.about-me .second-section #skill-tab h1 {
  color: #1e2934f0;
}

.about-me .second-section #skill-tab .skill-list {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me .second-section #skill-tab .skill-list .frontend-skill {
  margin-right: 1.5em;
}

.about-me .second-section #skill-tab .skill-list .frontend-skill,
.about-me .second-section #skill-tab .skill-list .backend-skills {
  width: 13.5em;
}

.about-me .second-section #skill-tab .skill-list .frontend-skill .skill-item,
.about-me .second-section #skill-tab .skill-list .backend-skills .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
  background: #1e2934f0;
  color: white;
}

.about-me .second-section #skill-tab .skill-list .frontend-skill .skill-item .checked,
.about-me .second-section #skill-tab .skill-list .backend-skills .skill-item .checked {
  color: #090e14f0;
}

.about-me .second-section #skill-tab .skill-list .backend-skills {
  margin-left: 1.5em;
}

.about-me .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .slider .first-active {
  margin-right: 0.5em;
  background: white;
  border: 1px solid black;
}

.about-me div > .first-active,
.about-me div > .second-active {
  height: 0.5em;
  width: 1.5em;
  background: #1e2934f0;
  border-radius: 10px;
  cursor: pointer;
}

.portfolio {
  padding: 2em 0em;
}

.portfolio .header {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .header::before, .portfolio .header::after {
  content: '';
  width: 28%;
  height: 2px;
  background-color: black;
  position: absolute;
  opacity: 0.5;
}

.portfolio .header::before {
  margin-left: 40%;
}

.portfolio .header::after {
  margin-right: 40%;
}

.portfolio .row {
  width: 90%;
  margin: 0 auto;
}

.portfolio .row .portfolio-card {
  cursor: pointer;
  margin-bottom: 1em;
}

.portfolio .row .portfolio-card .portfolio-card-item {
  height: 100%;
  border: 1px solid black;
  padding: 1em;
  border-radius: 0.5em;
  background: #3D3C3A;
  color: white;
  opacity: 0.8;
}

.portfolio .row .portfolio-card .portfolio-card-item h2 {
  text-align: center;
  font-size: 1.2em;
}

.portfolio .row .portfolio-card .portfolio-card-item .card-image {
  margin-top: 1em;
}

.portfolio .row .portfolio-card .portfolio-card-item .card-image img {
  width: 100%;
  height: auto;
}

.portfolio .row .portfolio-card:nth-child(3) .card-image, .portfolio .row .portfolio-card:nth-child(4) .card-image {
  text-align: center;
}

.portfolio .row .portfolio-card:nth-child(3) .card-image img, .portfolio .row .portfolio-card:nth-child(4) .card-image img {
  width: 60%;
  height: auto;
}

.portfolio .row .portfolio-card:nth-child(6) .card-image {
  background: white;
}

.portfolio .row .portfolio-card:nth-child(5) .card-image {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .card:nth-child(3) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.portfolio .card:nth-child(3) .card-item {
  margin-right: 2em;
}

.card-info {
  width: 100%;
  display: none;
  position: fixed;
  background-color: #3d3c3a96;
  z-index: 1000;
  height: 100%;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.card-info .card-info-item {
  border-radius: 1em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: relative;
  width: 60%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding: 2em;
}

.card-info .card-info-item .card-info-image {
  width: 100%;
}

.card-info .card-info-item .card-info-image img {
  width: 100%;
  height: auto;
}

.card-info .card-info-item .card-info-description .close-info {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.5em;
  margin-top: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-info .card-info-item .card-info-description ul {
  line-height: 2.5em;
}

.card-info .card-info-item .card-info-description ul li {
  list-style-type: disclosure-closed;
}

.contact-form {
  padding: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../image/contact_bg.png");
}

.contact-form h1 {
  text-align: center;
  color: white;
}

.contact-form h1::before {
  margin-left: 48% !important;
}

.contact-form h1::after {
  margin-right: 48% !important;
}

.contact-form .row .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form .row .contact-icon i {
  font-size: 15em;
  color: #4E8197;
}

.contact-form .row .send-mail-form form {
  width: 90%;
  margin: 2em auto;
}

.contact-form .row .send-mail-form form .name-col,
.contact-form .row .send-mail-form form .email-col {
  width: 100%;
  height: 6vh;
  margin-bottom: 1.5em;
}

.contact-form .row .send-mail-form form .name-col input,
.contact-form .row .send-mail-form form .email-col input {
  width: 100%;
  padding: 0.5em;
  height: 100%;
  border-radius: 0.5em;
  outline: none;
  border: 1px solid #257d9d4f;
}

.contact-form .row .send-mail-form form .name-col input:active, .contact-form .row .send-mail-form form .name-col input:visited, .contact-form .row .send-mail-form form .name-col input:hover, .contact-form .row .send-mail-form form .name-col input:focus, .contact-form .row .send-mail-form form .name-col input:focus-visible,
.contact-form .row .send-mail-form form .email-col input:active,
.contact-form .row .send-mail-form form .email-col input:visited,
.contact-form .row .send-mail-form form .email-col input:hover,
.contact-form .row .send-mail-form form .email-col input:focus,
.contact-form .row .send-mail-form form .email-col input:focus-visible {
  border: 2px solid #257d9d4f !important;
}

.contact-form .row .send-mail-form form .name-col input:focus-visible,
.contact-form .row .send-mail-form form .email-col input:focus-visible {
  border: 2px solid #257d9d4f !important;
}

.contact-form .row .send-mail-form form .form-group-two {
  width: 100%;
}

.contact-form .row .send-mail-form form .form-group-two textarea {
  width: 100%;
  border: 1px solid #257d9d4f;
  height: 10em;
  border-radius: 0.5em;
  resize: none;
  padding: 0.5em 0em 0em 0.5em;
  outline: none;
}

.contact-form .row .send-mail-form form .form-group-two textarea:active, .contact-form .row .send-mail-form form .form-group-two textarea:visited, .contact-form .row .send-mail-form form .form-group-two textarea:hover, .contact-form .row .send-mail-form form .form-group-two textarea:focus, .contact-form .row .send-mail-form form .form-group-two textarea:focus-visible {
  border: 2px solid #257d9d4f !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.contact-form .row .send-mail-form form button {
  width: 100%;
  margin-top: 1.5em;
  border: 1px solid gray;
  border-radius: 0.5em;
  color: gray;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4E8197;
  color: white;
  border: 1px solid transparent;
}

@media only screen and (max-width: 768px) {
  .main-section .left-section {
    padding: 2em 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-section .min-vh-100 {
    min-height: 50vh !important;
  }
}

@media only screen and (max-width: 767px) {
  .about-me {
    height: auto;
  }
  .about-me .carousel-dark {
    padding-bottom: 3em;
    height: 38em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-me .second-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  .about-me .second-section #about-tab {
    font-size: 0.8em;
    text-align: center;
  }
  .about-me .second-section #about-tab p {
    margin: 0em;
  }
  .about-me .second-section #skill-tab .skill-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me .second-section #skill-tab .skill-list .frontend-skill,
  .about-me .second-section #skill-tab .skill-list .backend-skills {
    margin: 0 auto;
    width: 90%;
  }
  .about-me .carousel-dark .carousel-control-prev,
  .about-me .carousel-dark .carousel-control-next {
    display: none;
  }
}

@media only screen and (max-width: 280px) {
  .portfolio .card {
    padding: 0em 2em;
  }
  .portfolio .header::before, .portfolio .header::after {
    content: none;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .card .card-item {
    width: auto;
  }
  .portfolio .header::before, .portfolio .header::after {
    content: none;
  }
  .portfolio .card:nth-child(3) .card-item {
    margin-right: 0em;
    max-height: 12em;
    overflow-y: hidden;
  }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  .portfolio .card .card-item {
    width: 38%;
  }
  .portfolio .header::before, .portfolio .header::after {
    content: none;
  }
  .portfolio .card:nth-child(3) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 38% 38%;
        grid-template-columns: 38% 38%;
    grid-column-gap: 4em;
  }
  .portfolio .card:nth-child(3) .card-item {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .portfolio .card .card-item {
    width: 42%;
  }
  .portfolio .header::before, .portfolio .header::after {
    content: none;
  }
  .portfolio .card:nth-child(3) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 42% 42%;
        grid-template-columns: 42% 42%;
    grid-column-gap: 4.5em;
  }
  .portfolio .card:nth-child(3) .card-item {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .portfolio .card {
    padding: 0em 2em;
  }
  .portfolio .header::before, .portfolio .header::after {
    content: none;
  }
  .portfolio .card:nth-child(3) .card-item {
    margin-right: 1.2em;
  }
}

@media only screen and (max-width: 767px) {
  .card-info .card-info-item {
    height: auto;
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-info .card-info-description ul {
    margin-top: 1em;
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=index.css.map */